.droppable {
  .droppable-indicator {
    padding: 10px;
  }

  &--over {
    .droppable-indicator {
      border-color: transparent;

      $border-color: #ccc;

      background-image:
        linear-gradient(90deg, $border-color 50%, transparent 50%),
        linear-gradient(90deg, $border-color 50%, transparent 50%),
        linear-gradient(0deg, $border-color 50%, transparent 50%),
        linear-gradient(0deg, $border-color 50%, transparent 50%);
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
      background-position: 0 0, 100% 100%, 0 100%, 100% 0;
      animation: dash 10s linear alternate infinite;
    }
  }
}

@keyframes dash {
  to {
    background-position: 50% 0%, 50% 100%, 0% -200%, 100% 200%;
  }
}
